
# LlamaIndex Core
llama-index-core
llama-index-readers-file

# Azure OpenAI
llama-index-llms-azure-openai
llama-index-embeddings-azure-openai

# Vector Store
llama-index-vector-stores-chroma
chromadb


# API Layer
fastapi
pydantic
websockets
uvicorn


azure-core
# for Agent workflow
langgraph
langchain
langchain-core
langchain-openai
openai
langchain_chroma 

# PDF Processing
pymupdf



# Environment Management
python-dotenv

# Progress bars
tqdm

# Utilities
colorama

# HTTP client with connection pooling + HTTP/2(Already exist - pinned here for explicitness)
httpx[http2]


Streamlit

# ── Session persistence
redis


langgraph-cli

